.cont-title-section {
    display: flex;
    width: 100%;
    height: auto;
    padding: 4rem 0 3rem;
    align-items: center;
    justify-content: center;
}

    .title-section {
        display: flex;
        width: auto;
        height: auto;
        padding: 0 3rem .6rem;
        border-bottom: 1px solid #F5F8FF;
        align-items: center;
        gap: 10px;
    }

    .title-section h2 {
        font-size: 20px;
        font-weight: 450;
    }

    .title-section img {
        width: 20px;
        height: 20px;
        border: 1px solid #1A1A1A;
    }

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    .title-section h2 {
        font-size: 18px;
    }

    .title-section img {
        width: 18px;
        height: 18px;
    }
}

/* Responsive 1024px */
@media screen and (max-width: 1024px) {
    .title-section h2 {
        font-size: 16px;
    }

    .title-section img {
        width: 17px;
        height: 17px;
    }
}

/* Responsive 425px */
@media screen and (max-width: 425px) {
    .cont-title-section {
        padding: 4rem 0 2.5rem;
    }
}